<div class="modal-header">
    <h3 class="modal-title">Ajouter une persone</h3>
</div>
<div class="modal-body">
    <div>{{ message }}</div>
    <div>Taper le nom et prénom de la personne pour l'ec {{ ec.code_ec }}</div>
    <div class="well">
        <input type="text"
               ng-model="pers" placeholder="Recherche chargé de cours"
               typeahead="personne as personne.nom_pat + ' ' + personne.numero for personne in getPersonne($viewValue)" typeahead-loading="recherche"
               typeahead-no-results="Pas de résultat"
               typeahead-min-length="3"

               class="form-control">
        <i ng-show="recherche" class="glyphicon glyphicon-refresh"></i>
        <div ng-show="noResults">
          <i class="glyphicon glyphicon-remove"></i> aucune personne
        </div>

    </div>
    <button class="btn btn-success" ng-click="addPersonne(pers, ec)"><span class="glyphicon glyphicon-ok"></span> Valider la personne selectionnée </button>
</div>
<div class="modal-footer">

    <button class="btn btn-primary" ng-click="createInvitation(ec)"><span class="glyphicon glyphicon-plus-sign"></span> Inviter une personne inconue du système</button>

    <button class="btn btn-warning" ng-click="$close()"><span class="glyphicon glyphicon-remove"></span> Fermer</button>
</div>