<div class="modal-header">
    <h3 class="modal-title">Ajouter Agent IED</h3>
</div>
<div class="modal-body">
    <div class="container-fluid">
        <form no-validate class="form-horizontal">
            <div class="form-group">
                <label class="col-xs-4 control-label">Nom patronymique</label>
                <div class="col-xs-8 controls">
                    <input class="form-control" placeholder="Nom de jeune fille" type="text" ng-model="agent.last_name">
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-4 control-label">Nom d'époux</label>
                <div class="col-xs-8 controls">
                    <input class="form-control" placeholder="Nom marital" type="text" ng-model="agent.common_name">
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-4 control-label">Prénom</label>
                <div class="col-xs-8 controls">
                    <input class="form-control" placeholder="Prénom (obligatoire)" type="text" ng-model="agent.first_name1">
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-4 control-label">Deuxième prénom</label>
                <div class="col-xs-8 controls">
                    <input class="form-control" placeholder="Prénom" type="text" ng-model="agent.first_name2">
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-4 control-label">Troisième prénom</label>
                <div class="col-xs-8 controls">
                    <input class="form-control" placeholder="Prénom" type="text" ng-model="agent.first_name3">
                </div>
            </div>

            <div class="form-group ">
                <label class="col-sm-4 control-label">E-mail</label>
                <div class="col-sm-8 controls">
                    <input type="email" placeholder="login@domain" class="form-control" ng-model="agent.personal_email">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-4 control-label">Sexe</label>
                <div class="col-sm-8 controls">
                    <input type="radio" ng-model="agent.sex" value="M"> Homme
                    <input type="radio" ng-model="agent.sex" value="F"> Femme
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-4 control-label">Date de naissance</label>
                <div class="col-xs-8 controls">
                    <input class="form-control" type="text" placeholder="jj/mm/aaaa" ng-model="agent.birthday">
                </div>
            </div>

        </form>
    <pre>{{ agent | json }}</pre>
    </div>





</div>
<div class="modal-footer">
    <button ng-if="!agent.id"
            class="btn btn-primary" type="button" ng-click="addAgent()">Ajouter</button>
    <button ng-if="agent.id"
        class="btn btn-primary" type="button" ng-click="modifyAgent()">Modifier</button>
    <!--<button class="btn btn-primary" type="button" ng-click="ok()">OK</button>-->
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>