<div class="modal-header">
    <h3 class="modal-title">Ajouter Agent DSI</h3>
</div>
<div class="modal-body">
    <div>Cliquer sur un agent pour l'ajouter à la liste.</div>
    <div class="well">Filtre: <input ng-model="filter_query" ng-change="onQueryChange()"/></div>
    <div>
        <div ng-if="isLoading">Loading ...</div>
        <ul ng-if="!isLoading">
            <li ng-repeat="dsi_agent in dsi_agents | filter:filter_query">
                <a title="{{ dsi_agent | json}}" ng-click="addDsiAgent(dsi_agent)">{{ dsi_agent.nom_pat }} {{ dsi_agent.prenom}}</a>
            </li>
        </ul>
    </div>
</div>

<!--<div class="modal-footer">-->
    <!--<button class="btn btn-primary" type="button" ng-click="ok()">OK</button>-->
    <!--<button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>-->
<!--</div>-->