{% extends "base_backoffice.html" %}
{% load floppyforms %}

{% block breadcrumbs %}
        <a href="/">Accueil</a>
    {% block title%}Impression des etats heures premier semestre{% endblock %}
{% endblock %}
{% block contenu %}
    <form id="form" class=" form-horizontal well" method="post" novalidate="novalidate">{% csrf_token %}
        {% form form %}
        <div class="form-actions">
            <input id="submit-id-verifier" class="btn btn-primary btn btn-success" type="submit" value="Imprimer"
               name="imprimer">
        </div>
    </form>
{% endblock %}
