{% load staticfiles %}
<html>
<head>
    <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css" %}">
    <style TYPE="text/css">
        .my-modal-popup > .modal-lg {
                width: 1308px;
            }


    </style>
</head>
<body>
<div class="container-fluid">
<div class="well">
    <div class="row"><div class="col-md-10">
        <center><h3>Espace de Gestion du personnel enseignant</h3></center>
    <center>
    <div>
        Veuillez associer à chaque EC l'intervenant qui le prendra en charge
    </div>
    Si vous avez des questions veuillez contacter le 01 49 40 72 21 (Paul Guichon responsable informatique)</center>
    </div><div class="col-md-2">
        {% if user.is_authenticated %}<a href="{% url 'logout' %}" class="btn btn-sm btn-default pull-right"><span class="glyphicon glyphicon-off"></span> Déconnexion</a>{% endif %}
    </div></div>

</div>
    {% block content %}
        <div ng-app="myApp">
            <div ng-view></div>
        </div>
    {% endblock %}

</div>
<script src="{% static "jquery/jquery.min.js" %}"></script>
<script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
<script src="{% static "angular/angular.js" %}"></script>
<script src="{% static "angular/angular-route.js" %}"></script>
<script src="{% static "angular/angular-resource.js" %}"></script>
<script src="{% static "angular/ui-bootstrap-0.13.1.js" %}"></script>
<script src="{% static "recruitment/app/js/services.js" %}"></script>
<script src="{% static "recruitment/app/js/app.js" %}"></script>
<script src="{% static "recruitment/app/js/controllers.js" %}"></script>
<script src="{% static "recruitment/app/js/etat_heure/controllers.js" %}"></script>
</body>
</html>











