<div class="well">
    <div class="well text-center">
        <a class="btn btn-primary" href="#/">Retour</a>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            Recherche
        </div>
        <div class="panel-body">
            <form action="">
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Filtrer nom ou EC</label>
                    <div class="col-sm-3">
                        <input class="form-control" ng-model="search" placeholder="Chercher">
                    </div>
                </div>
            </form>
        </div>

    </div>
    <div class="panel panel-primary">
        <div class="panel-body">
            <table class="table table-bordered table-striped">
                <tr ng-repeat="etat_heure in all_etats_heures | filter:search">
                    <td>info : {{ etat_heure.info_perso }} type : {{ etat_heure.type_agent }}

                        <button class="btn btn-primary" ng-click="info_agent(etat_heure)">
                            <span class="glyphicon glyphicon-user"></span> 
                         </button>
                        <br> Validation du directeur :
                        <span ng-class="{'glyphicon glyphicon-ok text-success': etat_heure.validation_recrutement_directeur,
                                       'glyphicon glyphicon-remove text-danger': !etat_heure.validation_recrutement_directeur}"></span>

                        <a href="/recruitment/v1/impression_etat_heure/{{ etat_heure.id }}">Impression</a>

                    </td>
                    <td>
                        <ul>
                            <li ng-repeat="(key, ecs) in etat_heure.ec">{{ key }}
                                <ul>
                                    <li ng-repeat="ec in ecs">
                                        <a href="#/etapes/{{ ec.ec__etape__cod_etp }}">{{ ec.ec__etape__cod_etp }}</a>
                                        <a href="#/etapes/{{ ec.ec__etape__cod_etp }}/{{ ec.ec__code_ec }}">{{ ec.ec__code_ec }}</a>{{ ec.ec__code_ec }} {{ ec.ec__lib_ec }}
                                        <span ng-if="ec._forfait != null" class="text-info  ">Forfait : {{ ec._forfait }}</span>
                                        <span class="text-danger" ng-if="ec._forfait == null">Pas de forfait renseigné</span>
                                        <span ng-if="ec._rattachement != null" class="text-info  "> Rattachement : {{ ec._rattachement }}</span>
                                        <span class="text-danger" ng-if="ec._rattachement == null"> Pas de forfait renseigné</span>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </td>

                </tr>
            </table>
        </div>
    </div>
</div>