{% extends "xadmin/base_site.html" %}
{% load staticfiles %}
{% block extrastyle %}
     <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css" %}">
        <style TYPE="text/css">
        .my-modal-popup > .modal-lg {
                width: 1308px;
            }


    </style>
    {{ block.super }}
    <script src="{% static "angular/angular.js" %}"></script>
    <script src="{% static "angular/angular-route.js" %}"></script>
    <script src="{% static "angular/angular-resource.js" %}"></script>
    <script src="{% static "angular/ui-bootstrap-0.13.1.js" %}"></script>
    <script src="{% static "recruitment/app/js/services.js" %}"></script>
    <script src="{% static "recruitment/app/js/app.js" %}"></script>
    <script src="{% static "recruitment/app/js/controllers.js" %}"></script>
    <script src="{% static "recruitment/app/js/etat_heure/controllers.js" %}"></script>
    <script type="text/javascript">
    </script>
{% endblock %}
{% block nav_title %}Déclaration des agents{% endblock %}
{% block content %}


<div ng-app="myApp">

    <select ng-options="annee for annee in [2015, 2014]" ng-model="annee.annee"></select>
    <div ng-view></div>
</div>



{% endblock %}